@media (max-width: 765px) {
  .players-description,
  .blog-description,
  .course-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-content {
    flex-direction: column;
  }

  .nav {
    margin: left;
    max-width: 60%;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .menu-section {
    gap: 35px;
    flex-direction: column-reverse;
  }

  .menu ul {
    flex-direction: column;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .players-description,
  .blog-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .course-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-content {
    flex-direction: column;
  }
  .nav {
    margin: left;
    max-width: 60%;
  }
}
